<% if @current_user %>

<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
    <%= form.hidden_field "user_id" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% else %>

<p> Please <a href="/sessions/new">log in</a> to start your travel journey </p> </p>

<% end %>