<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
    <%= form.hidden_field "id" %>
    <%= form.hidden_field :user_id, value: @current_user.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>