<% if @current_user %>

<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <div class="mb-3">
      <%= form.label "name" %>
      <%= form.text_field "name" %>
      <%= form.hidden_field "user_id" %>
  </div>
  <div>
      <%= form.submit "Create Place", class: "btn btn-primary" %>
  </div>
  <div class="row my-2">
    <a href="/places">Back to All Places</a>
  </div>
<% end %>

<% else %>

<p> Please <a href="/sessions/new">log in</a> to start your travel journey </p> </p>

<% end %>