<% if @current_user %>

  <div class="col-sm-3 my-2 text-left">
      <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">New Post</a>
  </div>

  <p>
    <a href="/places">Back to All Places</a>
  </p>

  <div class = "row my-2">
    <h1>Posts from <%= @place.name %></h1>
  </div>

<div class="row">
  <% for post in @place.posts %>
    <div class="col-md-4 col-sm-6">
      <h3><%= post.title %></h3>
      <h4>Posted on: <%= post.posted_on %></h4>
      <h4>
        <% if post.uploaded_image.attached?%>
              <img src="<%= url_for(post.uploaded_image)%>" class="img-fluid"%>
        <% else %>
        <% end %>
      <p><%= post.description %></p>
    </div>
    <% end %>
</div>

<% else %>

<p> Please <a href="/sessions/new">log in</a> to start your travel journey </p> </p>

<% end %>
</div>